<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>@ViewBag.Title</title>

	@RenderSection("socialmeta", required: false)

	<link href="//fonts.googleapis.com/css?family=Exo:100" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="~/lib/normalize-css/normalize.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
</head>
<body data-spy="@(ViewBag.BodyDataSpy ?? "")" data-target="@(ViewBag.BodyDataTarget ?? "")">
	<div id="top"></div>

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("baelor.io", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("Docs", "Index", "Docs")</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>@Html.ActionLink("About", "Index", "About")</li>
				</ul>
			</div>
		</div>
	</nav>
	<main class="main-content">
		@RenderBody()
	</main>
	<footer>
		<hr />
		<div class="container">
			<p>
				Developed by
				<a href="https://twitter.com/0xdeafcafe" target="_blank">
					Alex Forbes-Reed - @@0xdeafcafe
				</a>
			</p>
			<p>
				Developed in C# ASP.NET vNext | Running on Windows Azure
			</p>
			<p>
				Code licensed under the 
				<a href="http://www.dbad-license.org/" target="_blank">
					Don't Be A Dick Public License
				</a>
			</p>
			<p>
				Code fully Open Sourced at
				<a href="https://github.com/0xdeafcafe/baelor-api" target="_blank">
					0xdeafcafe/baelor-api
				</a>
			</p>
			<p class="legal">
				&copy; @DateTime.Now.Year - baelor.io
			</p>
		</div>
	</footer>
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/js/core.js"></script>
	@RenderSection("scripts", required: false)
	<script>
		!function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
		arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
		d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
		insertBefore(d,q)}(window,document,'script','_gs');
		_gs('GSN-154379-O');
	</script>
</body>
</html>
